<div class="container">
<nav class="navbar navbar-expand-xxl navbar-light bg-light" style="height: 10ch;">
  <div class="container-fluid">
   <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
   
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 navbar-light bg-light">
        <li class="nav-item">
          <!-- <a class="nav-link active" aria-current="page" href="#">Schedule</a> -->
          <li><a routerLink="/schedule" routerLinkActive="active">Schedule</a>
        </li>
        <li class="nav-item">
          <a a routerLink="/vote" routerLinkActive="active">Vote</a>
        </li>
        <li class="nav-item">
          <a a routerLink="/position" routerLinkActive="active">Rank</a>
        </li>
      </ul>
     </div>
     
    </div>
  
</nav>
<app-schedule></app-schedule>
</div>

