<body class="container" >
        <table height="100%" width="100%">
           <tr height="50%">
            <td width="70%" valign="top" align="center">
             <table> 
               <tr>
                <img src="assets/images/IPLscreen.png"/>
               </tr>
            </table>
            </td>
            <td valign="top">
            <table cellspacing="9" cellpadding="5" width="100%">
                        <tr>
                <td style="width:70%">
                </td>
                <td style="width:30%" align="center" bordercolor="red">
                  <div id="logindiv">
                    <table width="300" height="120" bgcolor="E8EEFA" cellpadding="2" align="center">
                      <tr align="center">
                        <td colspan="2" align="center"><label class="label" for="">Login</label></td>
                      </tr>
                      <tr>
                          <td> &nbsp; </td>
                      </tr>
                      <tr align="center">
                        <td align="right"><label for="login">User Name</label></td>
                        <td align="left"><input name="userId" type="text" id="userId" /></td>
                      </tr>
                      <tr align="center">
                        <td align="right"><label  for="password">Password</label></td>
                        <td align="left"><input name="password" type="password" id="password" /></td>
                      </tr>
                      <tr align="center">
                        <td>&nbsp;</td>
                        <td align="left"><input type="submit" name="Login" value="Login" /></td>
                      </tr>
                    </table>
                  </div>
                </td>
              </tr>
            </table>
            </td>
            </tr>
          </table>
         
      </body>
 