.height {
  height: 100%;
}
.container_custom {
  min-height: 500px;
  border: 100px;
  background-color: rgb(80, 115, 134);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
}
.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: rgb(80, 115, 134);
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}
